@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');



.App {

  display: flex;
  flex-direction: column;
  height: 100vh;
  

  font-family: 'Noto Serif', serif;
  background-color: #FAFAFA;
  color:#474747 ;


}